.App {
  text-align: center;
  height: 100vh;
}
.weatherInfo{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.weatherInfo-single{
  width: 200px;
  min-height: 120px;
  margin: 0 10px 10px 0;
  border: 2px solid;
  border-radius: 20px;
  flex-wrap: wrap;
}
.dark{
  background-color: rgb(36, 36, 36);
  color: antiquewhite;
}
.light{
  background-color: antiquewhite;
  color: rgb(36, 36, 36);
}
.weather{
  font-size: 1.2rem;
  font-weight: 500;
}
.cities{
  margin-left: 10px;
  height: 40px;
  width: 150px;
  background-color: rgb(116, 116, 116);
  color: antiquewhite;
  text-transform: uppercase;
  font-weight: 600;
  
}
button{
  height: 40px;
  background-color: rgb(116, 116, 116);
  color: antiquewhite;;
}
label {
  font-size: 1.1rem;
  font-weight: 500;

}
.themeChanger{
  font-size: 1rem;
  font-weight: 500;
  margin-left:10px;
}
.themeChanger button {
 margin-top: 10px;
}